#fondo-invitacion {
    width:400px;height:400px;
    background:#fafafa;outline:20px solid rgba(224,224,224,0.5);
    margin-top:30px;position:relative;
    border:1px solid #ccc; overflow:hidden
   } 
#fondo-in-tapa1 {
    width:200px;
    height:400px;
    background:#ccc;position:relative;
    -webkit-transition:1s;
    -o-transition:1s;
    transition:2s;
    float:left;
    left:0px;
    opacity:1;
    margin-top:-150px;
} 
#fondo-invitacion:hover #fondo-in-tapa1 {
    left:-600px;
    position:relative;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    opacity:0;
    margin-top:-150px;
} 
#fondo-in-tapa2 {width:200px;height:400px;background:#000;float:right;-webkit-transition: 1s;-o-transition: 1s;transition: 1s;position:relative;left:0px;opacity:1;margin-top:-150px;} 
#fondo-invitacion:hover #fondo-in-tapa2 {
    left:650px;position:relative;
    -webkit-transition: 2s;-o-transition: 2s;
    transition: 2s;opacity:0;
    margin-top:-150px;
} 
#foto-invitacion {
    width:200px;
    height:200px;
    background:#fafafa;
    position:relative;
    border-radius:180px;
    top:100px;
    left:0px;
    -webkit-transition: 1s;-o-transition: 1s;
    transition: 1s;
    border:10px solid #FFF;
    margin-top:-150px;
} 
#fondo-invitacion:hover #foto-invitacion {-webkit-transition: 1s;-o-transition: 1s;transition: 1s;opacity:1;left:-110px;top:-35px;transform: scale(.6);}
#titulo-invitacion {position:absolute;font-family: 'Cinzel', serif;font-size:20px;margin-left:170px;margin-top:75px;width:220px;line-height:1.5;color:#fff;text-shadow:1px 1px 0px #000;letter-spacing:3px;} 
#contenido-invitacion {width:360px;height:210px;margin-top:150px;padding:20px;position:absolute;font-family: 'Poppins', sans-serif;font-size:20px;text-align:justify;overflow:auto;line-height:1;}
#credito-invitacion {font-family: 'Poppins', sans-serif;font-size:8px;text-transform:uppercase;letter-spacing:1px;top:2px;position:relative;left:155px;}